{%load static%}
{% load crispy_forms_tags%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikibondo-Login</title> 
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid d-flex justify-content-center w-100 bg-warning" style="min-height: 50px;">
        <img
        src="{% static 'img/ikibondo_logo-removebg-preview.png' %}"
        alt="ikibondo logo"
        class="p-1 m-auto img-fluid"
        />
    </div> 
    <div class="container-fluid bg-light justify-content-center align-items-center pt-3 d-flex flex-column ">
        <div class="display-6">
            Reset your password now
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="d-flex justify-content-center align-items-center py-2">
            <div class="m-auto d-flex flex-column align-items-middle p-4 bg-white shadow rounded">
                <div class="alert alert-danger d-none">{{ message }}</div>
                <form action="{% url 'change_password' %}" method="post" class="mt-5">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-warning p-2 w-100">Login</button>
                    <p class="text-center mt-3">By clicking login, you accept user terms and policies.</p>
                </form>
            </div>
        </div>
    </div>
    <footer style="background-color: #D9D9D9;">
            <p class="text-center m-auto">
                &copy; 2024 Ikibondo</p>
    </footer>   
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script> 
</body>
</html>