{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikibondo-sign_up</title>
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'signup' %}" class="site-form" method="post">
        {%  csrf_token %}
        {{forms.as_p}}
        <br>
        <input type="submit" name="submit" value="Register now">
    </form>
</body>
</html>